---
BasedOnStyle: LLVM
# BasedOnStyle: Mozilla
IndentAccessModifiers: true
# BreakBeforeBraces: Allman
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterControlStatement: false
  # AfterClass: true
  # AfterControlStatement: Always
  SplitEmptyFunction: false
AllowShortFunctionsOnASingleLine: true
UseTab: Never
SpaceBeforeCtorInitializerColon: false
# BreakConstructorInitializers: BeforeComma
BreakConstructorInitializers: AfterColon
SpaceBeforeInheritanceColon: false
BreakInheritanceList: AfterColon
ReferenceAlignment: Left
IncludeBlocks: Regroup

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

## maybe one day i want this:
# Cpp11BracedListStyle: true

## align the function args to the opening bracket only using a
## ContinuationIndentWidth from beginning of statement. dont align to the exact
## position of the opening bracket.
AlignAfterOpenBracket: DontAlign
## this helps enforcing the above rule in certain situations.
AlignOperands: DontAlign

TabWidth: 2
## nice idea: contunuation indent different from normal indent ;)
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 2

ColumnLimit: 80
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakStringLiterals: true
BinPackArguments: false
BinPackParameters: false
# Ensure comments don't exceed limit
ReflowComments: true
PenaltyExcessCharacter: 1000000
